# [gitignore/Python.gitignore at master · github/gitignore](https://github.com/github/gitignore/blob/master/Python.gitignore)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Logging
log/*
!log/.gitkeep


# Unit test / coverage reports
.pytest_cache/


# Environments
.venv


# Rope project settings
.ropeproject


# devcontainer
.zshrc
.myclirc


# ctags
.vscode/tags
