[mysqld]
character-set-server = utf8mb4
# https://blog.wackwack.net/entry/2016/04/02/175750
log_timestamps = SYSTEM
# https://gihyo.jp/dev/serial/01/mysql-road-construction-news/0007
slow_query_log = 1
long_query_time = 1
# log_queries_not_using_indexes = 1
slow_query_log_file = /var/log/mysql/slow_query.log

[client]
loose_default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
